.navstyle{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    gap: 33px;
    margin-bottom: 33px;
    font-size: 25px;
    font-weight: bolder;
    font-family: cursive;
    font-style: italic;
    background-color: blue;
    
}
.margin-left{
    margin-left: 100px;
}